.thumbnail-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  background-color: transparent;
}

.button {
  padding: 10px;
  border: none;
  background-color: transparent;
}
.thumbnail-image {
  height: 55px;
}

.is-active {
  opacity: 0.4;
}
